Flask>=2.2.0
telebot>=0.0.5
numpy>=1.24.0  # Updated numpy version for Python 3.12 compatibility
torch==2.4.0  # Use the latest available version of torch
requests>=2.31.0
gunicorn>=20.1.0
Werkzeug>=2.3.7
pillow>=10.0.1